<div class="container">
  <div class="blog-area">
    <div class="heading-area">
      <div class="heading-item">
        <h3>Latest Blog & News</h3>
      </div>
      <div class="heading-item">
        <a href="#" class="view-all-btn"
          >View All <span><i class="bi bi-arrow-right"></i></span
        ></a>
      </div>
    </div>
    <div class="blog-card-area">
      <!-- Single -->
      <div class="blog-item">
        <div class="blog-thumbnail">
          <a href="#">
            <img
              src="assets/images/blog/blog.jpg"
              class="img-fluid"
              alt="blog"
            />
          </a>
          <div class="blog-date">
            <span><i class="bi bi-calendar-week-fill"></i> 19 Nov 2021</span>
          </div>
        </div>
        <div class="content">
          <a href="#">Lorem ipsum dolor sit.</a>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magnam
            commodi aperiam deserunt. Laboriosam deleniti, maiores nostrum
            provident hic odit, sint.
          </p>
          <div class="item-bottom">
            <div class="author-img">
              <img src="assets/images/blog/author.png" alt="img" />
              <span>Sarah Taylor</span>
            </div>
            <div class="arrow-btn">
              <a href="#"><i class="bi bi-arrow-right"></i></a>
            </div>
          </div>
        </div>
      </div>
      <!-- Single -->
      <div class="blog-item">
        <div class="blog-thumbnail">
          <a href="#">
            <img
              src="assets/images/blog/blog-2.jpg"
              class="img-fluid"
              alt="blog"
            />
          </a>
          <div class="blog-date">
            <span><i class="bi bi-calendar-week-fill"></i> 19 Nov 2021</span>
          </div>
        </div>
        <div class="content">
          <a href="#">Lorem ipsum dolor sit.</a>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magnam
            commodi aperiam deserunt. Laboriosam deleniti, maiores nostrum
            provident hic odit, sint.
          </p>
          <div class="item-bottom">
            <div class="author-img">
              <img src="assets/images/blog/author.png" alt="img" />
              <span>Sarah Taylor</span>
            </div>
            <div class="arrow-btn">
              <a href="#"><i class="bi bi-arrow-right"></i></a>
            </div>
          </div>
        </div>
      </div>
      <!-- Single -->
      <div class="blog-item">
        <div class="blog-thumbnail">
          <a href="#">
            <img
              src="assets/images/blog/blog.jpg"
              class="img-fluid"
              alt="blog"
            />
          </a>
          <div class="blog-date">
            <span><i class="bi bi-calendar-week-fill"></i> 19 Nov 2021</span>
          </div>
        </div>
        <div class="content">
          <a href="#">Lorem ipsum dolor sit.</a>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magnam
            commodi aperiam deserunt. Laboriosam deleniti, maiores nostrum
            provident hic odit, sint.
          </p>
          <div class="item-bottom">
            <div class="author-img">
              <img src="assets/images/blog/author.png" alt="img" />
              <span>Sarah Taylor</span>
            </div>
            <div class="arrow-btn">
              <a href="#"><i class="bi bi-arrow-right"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
