<div class="category-menu-area">
    <ul class="list-group">
        <li class="list-group-item active" aria-current="true">All Categories</li>
        <li class="list-group-item category-menu">
            <a href="#" class="d-flex-justify-content-between">Vegetables & Fruits
                <span class=""><i class="bi bi-chevron-right"></i></span></a>
            <ul class="sub-menu1 four-column-list">
                <ul style="border-right: 1px solid #E0E4E0;">
                    <li class="heading">Vegetable</li>
                    <li><a href="#">A</a></li>
                    <li><a href="#">B</a></li>
                    <li><a href="#">C</a></li>
                    <li><a href="#">D</a></li>
                    <li><a href="#">B</a></li>
                    <li><a href="#">B</a></li>
                </ul>
                <ul style="border-right: 1px solid #E0E4E0;">
                    <li class="heading">Fruits</li>
                    <li><a href="#">Sacthels</a></li>
                    <li><a href="#">Sacthels</a></li>
                    <li><a href="#">Sacthels</a></li>
                    <li><a href="#">Sacthels</a></li>
                    <li><a href="#">Sacthels</a></li>
                    <li><a href="#">Sacthels</a></li>
                </ul>
                <ul style="border-right: 1px solid #E0E4E0;">
                    <li class="heading">Fresh Meat</li>
                    <li><a href="#">Sacthels</a></li>
                    <li><a href="#">Sacthels</a></li>
                    <li><a href="#">Sacthels</a></li>
                    <li><a href="#">Sacthels</a></li>
                    <li><a href="#">Sacthels</a></li>
                    <li><a href="#">Sacthels</a></li>
                </ul>
                <ul>
                    <li class="heading">Sea Food</li>
                    <li><a href="#">Sacthels</a></li>
                    <li><a href="#">Sacthels</a></li>
                    <li><a href="#">Sacthels</a></li>
                    <li><a href="#">Sacthels</a></li>
                    <li><a href="#">Sacthels</a></li>
                    <li><a href="#">Sacthels</a></li>
                </ul>
            </ul>
        </li>
        <li class="list-group-item category-menu">
            <a href="#" class="d-flex-justify-content-between">Fruits
                <span class=""><i class="bi bi-chevron-right"></i></span></a>
            <ul class="sub-menu1 four-column-list">
                <ul style="border-right: 1px solid #E0E4E0;">
                    <li class="heading">Vegetable</li>
                    <li><a href="#">Sacthels</a></li>
                    <li><a href="#">Sacthels</a></li>
                    <li><a href="#">Sacthels</a></li>
                    <li><a href="#">Sacthels</a></li>
                    <li><a href="#">Sacthels</a></li>
                </ul>
                <ul style="border-right: 1px solid #E0E4E0;">
                    <li class="heading">Fruits</li>
                    <li><a href="#">Sacthels</a></li>
                    <li><a href="#">Sacthels</a></li>
                    <li><a href="#">Sacthels</a></li>
                    <li><a href="#">Sacthels</a></li>
                    <li><a href="#">Sacthels</a></li>
                </ul>
                <ul style="border-right: 1px solid #E0E4E0;">
                    <li class="heading">Fresh Meat</li>
                    <li><a href="#">Sacthels</a></li>
                    <li><a href="#">Sacthels</a></li>
                    <li><a href="#">Sacthels</a></li>
                    <li><a href="#">Sacthels</a></li>
                    <li><a href="#">Sacthels</a></li>
                </ul>
            </ul>
        </li>
        <li class="list-group-item category-menu">
            <a href="#" class="d-flex-justify-content-between">Oil and Vinegar
                <span class=""><i class="bi bi-chevron-right"></i></span></a>
            <ul class="sub-menu1 four-column-list">
                <ul style="border-right: 1px solid #E0E4E0;">
                    <li class="heading">Vegetable</li>
                    <li><a href="#">Sacthels</a></li>
                    <li><a href="#">Sacthels</a></li>
                    <li><a href="#">Sacthels</a></li>
                    <li><a href="#">Sacthels</a></li>
                    <li><a href="#">Sacthels</a></li>
                </ul>
                <ul style="border-right: 1px solid #E0E4E0;">
                    <li class="heading">Fruits</li>
                    <li><a href="#">Sacthels</a></li>
                    <li><a href="#">Sacthels</a></li>
                    <li><a href="#">Sacthels</a></li>
                    <li><a href="#">Sacthels</a></li>
                    <li><a href="#">Sacthels</a></li>
                </ul>
            </ul>
        </li>
        <li class="list-group-item category-menu">
            <a href="#" class="d-flex-justify-content-between">Apple Juice
                <span class=""><i class="bi bi-chevron-right"></i></span></a>
            <ul class="sub-menu1">
                <ul>
                    <li class="menu-item">
                        <a href="#" class="d-flex-justify-content-between">Getting Submenu 2
                            <span class=""><i class="bi bi-chevron-right"></i></span></a>

                        <ul class="sub-menu2">
                            <li class="menu-item"><a href="#">Sacthels</a></li>
                            <li class="menu-item"><a href="#">Sacthels</a></li>
                            <li class="menu-item"><a href="#">Sacthels</a></li>
                            <li class="menu-item"><a href="#">Sacthels</a></li>
                            <li class="menu-item"><a href="#">Sacthels</a></li>
                            <li class="menu-item"><a href="#">Sacthels</a></li>
                            <li class="menu-item"><a href="#">Sacthels</a></li>
                        </ul>
                    </li>
                    <li class="menu-item">
                        <a href="#" class="d-flex-justify-content-between">Getting Submenu 2
                            <span class=""><i class="bi bi-chevron-right"></i></span></a>

                        <ul class="sub-menu2">
                            <li class="menu-item"><a href="#">Sacthels</a></li>
                            <li class="menu-item"><a href="#">Sacthels</a></li>
                            <li class="menu-item"><a href="#">Sacthels</a></li>
                            <li class="menu-item"><a href="#">Sacthels</a></li>
                            <li class="menu-item"><a href="#">Sacthels</a></li>
                            <li class="menu-item"><a href="#">Sacthels</a></li>
                            <li class="menu-item"><a href="#">Sacthels</a></li>
                        </ul>
                    </li>
                    <li class="menu-item"><a href="#">Sacthels</a></li>
                    <li class="menu-item"><a href="#">Sacthels</a></li>
                    <li class="menu-item"><a href="#">Sacthels</a></li>
                    <li class="menu-item"><a href="#">Sacthels</a></li>
                    <li class="menu-item"><a href="#">Sacthels</a></li>
                    <li class="menu-item"><a href="#">Sacthels</a></li>
                </ul>
            </ul>
        </li>
        <li class="list-group-item category-menu">
            <a href="#" class="d-flex-justify-content-between">Ocean Food
                <span class=""><i class="bi bi-chevron-right"></i></span></a>
            <ul class="sub-menu1">
                <ul>
                    <li class="menu-item"><a href="#">Sacthels</a></li>
                    <li class="menu-item"><a href="#">Sacthels</a></li>
                    <li class="menu-item"><a href="#">Sacthels</a></li>
                    <li class="menu-item"><a href="#">Sacthels</a></li>
                    <li class="menu-item"><a href="#">Sacthels</a></li>
                    <li class="menu-item"><a href="#">Sacthels</a></li>
                    <li class="menu-item"><a href="#">Sacthels</a></li>
                </ul>
            </ul>
        </li>
        <li class="list-group-item category-menu">
            <a href="#" class="d-flex-justify-content-between">Butter & Eggs
                <span class=""><i class="bi bi-chevron-right"></i></span></a>
            <ul class="sub-menu1">
                <ul>
                    <li class="menu-item"><a href="#">Sacthels</a></li>
                    <li class="menu-item"><a href="#">Sacthels</a></li>
                    <li class="menu-item"><a href="#">Sacthels</a></li>
                    <li class="menu-item"><a href="#">Sacthels</a></li>
                    <li class="menu-item"><a href="#">Sacthels</a></li>
                    <li class="menu-item"><a href="#">Sacthels</a></li>
                    <li class="menu-item"><a href="#">Sacthels</a></li>
                </ul>
            </ul>
        </li>
        <li class="list-group-item"><a href="#">Fresh Meat</a></li>
        <li class="list-group-item"><a href="#">Dry Nuts</a></li>
        <li class="list-group-item"><a href="#">Vegetables</a></li>
        <li class="list-group-item"><a href="#">Milk & Cream</a></li>
    </ul>
</div>