<div class="contact-form-section">
    <div class="container">
        <div class="get-in-touch-contact-us">
            <!-- get in touch start  -->
            <div class="get-in-touch">
                <div class="get-in-touch-box">
                    <h3>Get In Touch</h3>
                    <div class="form-area">
                        <form action="#">
                            <div class="col-parent">
                                <div class="col-md-box">
                                    <div class="col-md-6">
                                        <div class="form-floating mb-3">
                                            <input type="text" class="form-control" id="firstName"
                                                placeholder="First Name">

                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-floating mb-3">
                                            <input type="text" class="form-control" id="lastName"
                                                placeholder="Last Name">

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-box">
                                    <div class="col-md-6">
                                        <div class="form-floating mb-3">
                                            <input type="email" class="form-control" id="floatingInput"
                                                placeholder="name@example.com">
    
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-floating mb-3">
                                            <input type="text" class="form-control" id="phone" placeholder="Enter Phone">
    
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-floating mb-3">
                                        <input type="email" class="form-control" id="adrress"
                                            placeholder="Enter Address">

                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-floating mb-3">
                                        <textarea class="form-control" placeholder="Leave a comment here" id="details"
                                            style="height: 100px"></textarea>

                                    </div>
                                </div>
                                <div class="col-md-12 text-center">
                                    <button type="submit" class="my-btn">Send a Message</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- get in touch end  -->

            <!-- contact us start  -->
            <div class="contact-us">
                <h3>Don't hesitate to contact us</h3>
                <div class="address-box-mail-us-call-us">
                    <div class="address">
                        <div class="icon">
                            <span><i class="bi bi-geo-alt"></i></span>
                        </div>
                        <h5 class="text-center mt-15">Our Office Address</h5>
                        <p class="text-center">Collins Street West Victoria 8007 Australia</p>
                    </div>

                    <div class="mail-call-us">
                        <div class="mail-us">
                            <div class="icon">
                                <span><i class="bi bi-envelope"></i></span>
                            </div>
                            <a href="mailto:example@gmail.com" class="d-block text-center mt-15">example@gmail.com</a>

                            <a href="mailto:example@gmail.com" class="d-block text-center">example@gmail.com</a>
                        </div>

                        <div class="call-us">
                            <div class="icon">
                                <span><i class="bi bi-telephone"></i></span>
                            </div>
                            <a href="tel:
                        +61 3 123456" class="d-block text-center mt-15">
                                <span class="">
                                    +61 3 123456</span>
                            </a>

                            <a href="tel:
                    +61 3 123456" class="d-block text-center">
                                <span class="">
                                    +61 3 123456</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- contact us end  -->


        </div>
    </div>
</div>