<div class="description-area">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima facilis error hic voluptas maxime
        eveniet, tempore voluptatum cupiditate perspiciatis quam aliquid est ducimus dignissimos quidem
        reiciendis accusamus ipsum vitae perferendis ad? Cupiditate consequuntur, itaque fuga earum
        reiciendis porro, ipsum id sequi voluptatum officia recusandae ea, eligendi eum provident minima
        ex voluptates cumque aut! Debitis, voluptate, sunt laudantium ducimus itaque qui. Natus ducimus
        veniam corporis fugit at, est repudiandae provident non iste! Voluptate quaerat aspernatur quas
        dolores molestias dignissimos laborum doloremque tempore numquam voluptatem aliquam impedit
        dolorem sit facilis fugit porro nesciunt odio in sunt non suscipit neque, maxime quo laboriosam?
    </p>
</div>