.mini-banner {
  width: 100%;
  height: 468px;
  border: none;
  background-image: url("../../../../assets/images/banner-slider/slider-3.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;

  .banner-content {
    margin: 15px 0px 0px 15px;
    position: absolute;

    h5 {
      color: var(--color-white);
      font-size: var(--size-md);
      font-weight: var(--text-bold);
      text-transform: uppercase;
      padding: 10px 0px;
    }

    h3 {
      color: var(--color-white);
      font-size: var(--size-lg);
      font-weight: var(--text-bold);
      text-transform: uppercase;
      padding: 0px 0px 10px 0px;
    }

    h6 {
      color: var(--color-white);
      font-size: var(--size-lg);
      padding: 0px 0px 15px 0px;

      span {
        color: var(--primary-color);
        font-weight: var(--text-bold);
      }
    }

    .my-btn {
      border: 1px solid var(--color-99);
      border-radius: 25px !important;
      font-size: var(--size-sm);
      font-weight: var(--text-normal);
      color: var(--color-white);
      color: white;
      background-color: var(--color-99);
      padding: 16px 30px;
      text-transform: uppercase;
      cursor: pointer;

      &:hover {
        opacity: 0.8;
      }
    }
  }
}
