<div class="payment-method">
    <h4>Payment Method</h4>
    <div class="form-main">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="d_bank">
            <label class="form-check-label" for="d_bank">
                Direct bank transfer
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="cash_on_delivery">
            <label class="form-check-label" for="cash_on_delivery">
                Cash on delivery
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="cp">
            <label class="form-check-label" for="cp">
                Check payments
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="paypal">
            <label class="form-check-label" for="paypal">
                Paypal
            </label>
        </div>
    </div>
    <div class="form-bottom">
        <button type="submit" class="my-btn">Place Order</button>
    </div>
</div>