<div class="table-container">
    <table class="table">
        <tbody>
            <tr>
                <td>Capacity</td>
                <td>5 Kg</td>
            </tr>
            <tr>
                <td>Color</td>
                <td>Black, Red, Green, Orange</td>
            </tr>
            <tr>
                <td>Water Resistant</td>
                <td>Yes</td>
            </tr>
            <tr>
                <td>Material</td>
                <td>Artifitial Leather</td>
            </tr>
        </tbody>
    </table>
</div>