<div class="reviewer-section">
    <h5>2 Reviews</h5>
    <div class="review-item">
        <div class="reviewer-photo-container">
            <div class="reviewer-photo">
                <img src="assets/images/reviewer/1.jpg">
            </div>
        </div>
        <div class="reviewer-content">
            <h6>Alea Brooks</h6>
            <span class="date">Jun 01, 2021</span>
            <div class="rating">
                <span><i class="bi bi-star-fill"></i></span>
                <span><i class="bi bi-star-fill"></i></span>
                <span><i class="bi bi-star-fill"></i></span>
                <span><i class="bi bi-star-fill"></i></span>
                <span><i class="bi bi-star-half"></i></span>
            </div>
            <p class="comment">
                Lorem ipsum dolor sit amet consectetur adipisicing, elit. Reprehenderit quos natus,
                consequatur tempora excepturi assumenda quasi quaerat ea voluptates sequi tenetur
                inventore explicabo velit at accusantium nam itaque asperiores libero, praesentium,
                autem exercitationem recusandae necessitatibus odio. Laudantium explicabo possimus
                sit eius sed! Vero illum commodi veniam exercitationem animi beatae eius.
            </p>
        </div>
    </div>
    <div class="review-item">
        <div class="reviewer-photo-container">
            <div class="reviewer-photo">
                <img src="assets/images/reviewer/1.jpg">
            </div>
        </div>
        <div class="reviewer-content">
            <h6>Alea Brooks</h6>
            <span class="date">Jun 01, 2021</span>
            <div class="rating">
                <span><i class="bi bi-star-fill"></i></span>
                <span><i class="bi bi-star-fill"></i></span>
                <span><i class="bi bi-star-fill"></i></span>
                <span><i class="bi bi-star-fill"></i></span>
                <span><i class="bi bi-star-half"></i></span>
            </div>
            <p class="comment">
                Lorem ipsum dolor sit amet consectetur adipisicing, elit. Reprehenderit quos natus,
                consequatur tempora excepturi assumenda quasi quaerat ea voluptates sequi tenetur
                inventore explicabo velit at accusantium nam itaque asperiores libero, praesentium,
                autem exercitationem recusandae necessitatibus odio. Laudantium explicabo possimus
                sit eius sed! Vero illum commodi veniam exercitationem animi beatae eius.
            </p>
        </div>
    </div>
    <div class="review-form-area">
        <h5>Add a Review</h5>
        <div class="rating">
            <span><i class="bi bi-star"></i></span>
            <span><i class="bi bi-star"></i></span>
            <span><i class="bi bi-star"></i></span>
            <span><i class="bi bi-star"></i></span>
            <span><i class="bi bi-star"></i></span>
        </div>
        <div class="form-container">
            <div class="form-main">
                <form>
                    <div class="form-field">
                        <input type="text" class="form-control" placeholder="Your Name">
                    </div>
                    <div class="form-field">
                        <input type="email" class="form-control" placeholder="Your Email">
                    </div>
                    <div class="form-field">
                        <textarea class="form-control" placeholder="Your Comment"></textarea>
                    </div>
                    <div>
                        <button type="submit" class="my-btn">Submit Review</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>