<div class="container">
  <div class="product-area">
    <div class="card-section">
      <!-- Single -->
      <div class="product-item" *ngFor="let product of products" [routerLink]="['details']">
        <div class="sale-badge">
          <span>Sale</span>
        </div>
        <!-- Thumbnail -->
        <div class="product-thumbnail">
          <div class="img">
            <a>
              <img src="{{ product.imgLink }}" alt="product" />
            </a>
          </div>
          <a class="wishlist"><i class="bi bi-heart"></i></a>
          <div>
            <a class="product-QuickView" href="#" data-bs-toggle="modal" data-bs-target="#quickViewModal"><i
                class="bi bi-eye"></i></a>
          </div>
          <div class="add-to-cart-area">
            <a href="#" class="add-to-cart">Add to Cart</a>
          </div>
        </div>
        <div class="product-content">
          <div class="rating">
            <span><i class="bi bi-star-fill"></i></span>
            <span><i class="bi bi-star-fill"></i></span>
            <span><i class="bi bi-star-fill"></i></span>
            <span><i class="bi bi-star-fill"></i></span>
            <span><i class="bi bi-star-half"></i></span>
          </div>
          <div class="product-name">
            <a>{{ product.title }}</a>
          </div>
          <div class="pricing">
            <span>${{ product.newPrice }}</span>
            <del>${{ product.oldPrice }}</del>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>