<div class="container">
    <div class="product-area">
        <div class="card-section">
            <!-- Single -->
            <div class="product-item">
                <div class="sale-badge">
                    <span>Sale</span>
                </div>
                <!-- Thumbnail -->
                <div class="product-thumbnail">
                    <div class="img">
                        <a href="product-details.html">
                            <img src="assets/images/product/1.png" alt="product">
                        </a>
                    </div>
                    <a class="wishlist" href="#"><i class="bi bi-heart"></i></a>
                    <div>
                        <a class="product-QuickView" href="#" data-bs-toggle="modal" data-bs-target="#quickViewModal"><i
                                class="bi bi-eye"></i></a>
                    </div>
                    <div class="add-to-cart-area">
                        <a href="#" class="add-to-cart" href="#">Add to Cart</a>
                    </div>
                </div>
                <div class="product-content">
                    <div class="rating">
                        <span><i class="bi bi-star-fill"></i></span>
                        <span><i class="bi bi-star-fill"></i></span>
                        <span><i class="bi bi-star-fill"></i></span>
                        <span><i class="bi bi-star-fill"></i></span>
                        <span><i class="bi bi-star-half"></i></span>
                    </div>
                    <div class="product-name">
                        <a href="product-details.html">Purnava Omega 3 Enri...</a>
                    </div>
                    <div class="pricing">
                        <span>$200</span>
                        <del>$210</del>
                    </div>
                </div>
            </div>
            <!-- Single -->
            <div class="product-item">
                <div class="sale-badge">
                    <span>Sale</span>
                </div>
                <!-- Thumbnail -->
                <div class="product-thumbnail">
                    <div class="img">
                        <a href="product-details.html">
                            <img src="assets/images/product/5.png" alt="product">
                        </a>
                    </div>
                    <a class="wishlist" href="#"><i class="bi bi-heart"></i></a>
                    <div>
                        <a class="product-QuickView" href="#" data-bs-toggle="modal" data-bs-target="#quickViewModal"><i
                                class="bi bi-eye"></i></a>
                    </div>
                    <div class="add-to-cart-area">
                        <a href="#" class="add-to-cart" href="#">Add to Cart</a>
                    </div>
                </div>
                <div class="product-content">
                    <div class="rating">
                        <span><i class="bi bi-star-fill"></i></span>
                        <span><i class="bi bi-star-fill"></i></span>
                        <span><i class="bi bi-star-fill"></i></span>
                        <span><i class="bi bi-star-fill"></i></span>
                        <span><i class="bi bi-star-half"></i></span>
                    </div>
                    <div class="product-name">
                        <a href="product-details.html">Purnava Omega 3 Enri...</a>
                    </div>
                    <div class="pricing">
                        <span>$200</span>
                        <del>$210</del>
                    </div>
                </div>
            </div>
            <!-- Single -->
            <div class="product-item">
                <div class="sale-badge">
                    <span>Sale</span>
                </div>
                <!-- Thumbnail -->
                <div class="product-thumbnail">
                    <div class="img">
                        <a href="product-details.html">
                            <img src="assets/images/product/2.png" alt="product">
                        </a>
                    </div>
                    <a class="wishlist" href="#"><i class="bi bi-heart"></i></a>
                    <div>
                        <a class="product-QuickView" href="#" data-bs-toggle="modal" data-bs-target="#quickViewModal"><i
                                class="bi bi-eye"></i></a>
                    </div>
                    <div class="add-to-cart-area">
                        <a href="#" class="add-to-cart" href="#">Add to Cart</a>
                    </div>
                </div>
                <div class="product-content">
                    <div class="rating">
                        <span><i class="bi bi-star-fill"></i></span>
                        <span><i class="bi bi-star-fill"></i></span>
                        <span><i class="bi bi-star-fill"></i></span>
                        <span><i class="bi bi-star-fill"></i></span>
                        <span><i class="bi bi-star-half"></i></span>
                    </div>
                    <div class="product-name">
                        <a href="product-details.html">Purnava Omega 3 Enri...</a>
                    </div>
                    <div class="pricing">
                        <span>$200</span>
                        <del>$210</del>
                    </div>
                </div>
            </div>
            <!-- Single -->
            <div class="product-item">
                <div class="sale-badge">
                    <span>Sale</span>
                </div>
                <!-- Thumbnail -->
                <div class="product-thumbnail">
                    <div class="img">
                        <a href="#">
                            <img src="assets/images/product/1.png" alt="product">
                        </a>
                    </div>
                    <a class="wishlist" href="#"><i class="bi bi-heart"></i></a>
                    <div>
                        <a class="product-QuickView" href="#" data-bs-toggle="modal" data-bs-target="#quickViewModal"><i
                                class="bi bi-eye"></i></a>
                    </div>
                    <div class="add-to-cart-area">
                        <a href="#" class="add-to-cart" href="#">Add to Cart</a>
                    </div>
                </div>
                <div class="product-content">
                    <div class="rating">
                        <span><i class="bi bi-star-fill"></i></span>
                        <span><i class="bi bi-star-fill"></i></span>
                        <span><i class="bi bi-star-fill"></i></span>
                        <span><i class="bi bi-star-fill"></i></span>
                        <span><i class="bi bi-star-half"></i></span>
                    </div>
                    <div class="product-name">
                        <a href="#">Purnava Omega 3 Enri...</a>
                    </div>
                    <div class="pricing">
                        <span>$200</span>
                        <del>$210</del>
                    </div>
                </div>
            </div>
            <!-- Single -->
            <div class="product-item">
                <div class="sale-badge">
                    <span>Sale</span>
                </div>
                <!-- Thumbnail -->
                <div class="product-thumbnail">
                    <div class="img">
                        <a href="#">
                            <img src="assets/images/product/6.png" alt="product">
                        </a>
                    </div>
                    <a class="wishlist" href="#"><i class="bi bi-heart"></i></a>
                    <div>
                        <a class="product-QuickView" href="#" data-bs-toggle="modal" data-bs-target="#quickViewModal"><i
                                class="bi bi-eye"></i></a>
                    </div>
                    <div class="add-to-cart-area">
                        <a href="#" class="add-to-cart" href="#">Add to Cart</a>
                    </div>
                </div>
                <div class="product-content">
                    <div class="rating">
                        <span><i class="bi bi-star-fill"></i></span>
                        <span><i class="bi bi-star-fill"></i></span>
                        <span><i class="bi bi-star-fill"></i></span>
                        <span><i class="bi bi-star-fill"></i></span>
                        <span><i class="bi bi-star-half"></i></span>
                    </div>
                    <div class="product-name">
                        <a href="#">Purnava Omega 3 Enri...</a>
                    </div>
                    <div class="pricing">
                        <span>$200</span>
                        <del>$210</del>
                    </div>
                </div>
            </div>
            <!-- Single -->
            <div class="product-item">
                <div class="sale-badge">
                    <span>Sale</span>
                </div>
                <!-- Thumbnail -->
                <div class="product-thumbnail">
                    <div class="img">
                        <a href="#">
                            <img src="assets/images/product/2.png" alt="product">
                        </a>
                    </div>
                    <a class="wishlist" href="#"><i class="bi bi-heart"></i></a>
                    <div>
                        <a class="product-QuickView" href="#" data-bs-toggle="modal" data-bs-target="#quickViewModal"><i
                                class="bi bi-eye"></i></a>
                    </div>
                    <div class="add-to-cart-area">
                        <a href="#" class="add-to-cart" href="#">Add to Cart</a>
                    </div>
                </div>
                <div class="product-content">
                    <div class="rating">
                        <span><i class="bi bi-star-fill"></i></span>
                        <span><i class="bi bi-star-fill"></i></span>
                        <span><i class="bi bi-star-fill"></i></span>
                        <span><i class="bi bi-star-fill"></i></span>
                        <span><i class="bi bi-star-half"></i></span>
                    </div>
                    <div class="product-name">
                        <a href="#">Purnava Omega 3 Enri...</a>
                    </div>
                    <div class="pricing">
                        <span>$200</span>
                        <del>$210</del>
                    </div>
                </div>
            </div>
            <!-- Single -->
            <div class="product-item">
                <div class="sale-badge">
                    <span>Sale</span>
                </div>
                <!-- Thumbnail -->
                <div class="product-thumbnail">
                    <div class="img">
                        <a href="#">
                            <img src="assets/images/product/1.png" alt="product">
                        </a>
                    </div>
                    <a class="wishlist" href="#"><i class="bi bi-heart"></i></a>
                    <div>
                        <a class="product-QuickView" href="#" data-bs-toggle="modal" data-bs-target="#quickViewModal"><i
                                class="bi bi-eye"></i></a>
                    </div>
                    <div class="add-to-cart-area">
                        <a href="#" class="add-to-cart" href="#">Add to Cart</a>
                    </div>
                </div>
                <div class="product-content">
                    <div class="rating">
                        <span><i class="bi bi-star-fill"></i></span>
                        <span><i class="bi bi-star-fill"></i></span>
                        <span><i class="bi bi-star-fill"></i></span>
                        <span><i class="bi bi-star-fill"></i></span>
                        <span><i class="bi bi-star-half"></i></span>
                    </div>
                    <div class="product-name">
                        <a href="#">Purnava Omega 3 Enri...</a>
                    </div>
                    <div class="pricing">
                        <span>$200</span>
                        <del>$210</del>
                    </div>
                </div>
            </div>
            <!-- Single -->
            <div class="product-item">
                <div class="sale-badge">
                    <span>Sale</span>
                </div>
                <!-- Thumbnail -->
                <div class="product-thumbnail">
                    <div class="img">
                        <a href="#">
                            <img src="assets/images/product/5.png" alt="product">
                        </a>
                    </div>
                    <a class="wishlist" href="#"><i class="bi bi-heart"></i></a>
                    <div>
                        <a class="product-QuickView" href="#" data-bs-toggle="modal" data-bs-target="#quickViewModal"><i
                                class="bi bi-eye"></i></a>
                    </div>
                    <div class="add-to-cart-area">
                        <a href="#" class="add-to-cart" href="#">Add to Cart</a>
                    </div>
                </div>
                <div class="product-content">
                    <div class="rating">
                        <span><i class="bi bi-star-fill"></i></span>
                        <span><i class="bi bi-star-fill"></i></span>
                        <span><i class="bi bi-star-fill"></i></span>
                        <span><i class="bi bi-star-fill"></i></span>
                        <span><i class="bi bi-star-half"></i></span>
                    </div>
                    <div class="product-name">
                        <a href="#">Purnava Omega 3 Enri...</a>
                    </div>
                    <div class="pricing">
                        <span>$200</span>
                        <del>$210</del>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>