<!-- Breadcumb Area Start -->
<app-product-details-breadcrumb></app-product-details-breadcrumb>
<!-- Breadcumb Area Start -->

<!-- Details Box Area Start -->
<div class="container">
  <app-product-details-box></app-product-details-box>
  <!-- Details Box Area End -->

  <!-- Tabs Area Start -->
  <div class="tab-container">
    <div class="tab-area">
      <ul class="nav-tabs">
        <li class="nav-item">
          <button class="nav-link" (click)="assignTabSectionComponent('description')">
            Description
          </button>
        </li>
        <li class="nav-item">
          <button class="nav-link" (click)="assignTabSectionComponent('additional-info')">
            Additional Information
          </button>
        </li>
        <li class="nav-item">
          <button class="nav-link" (click)="assignTabSectionComponent('review-area')">Reviews</button>
        </li>
      </ul>
      <ng-container class="tab-content" *ngComponentOutlet="detailsTabSection"></ng-container>
    </div>
  </div>
  <!-- Tabs Area End -->

  <!-- popular product card area start -->
  <div class="card-area-title">
    <h3>Related Products</h3>
    <div class="view-all-button-container">
      <a href="#" class="view-all-btn">View All<span><i class="bi bi-arrow-right"></i> </span>
      </a>
    </div>
  </div>

  <app-product-card></app-product-card>
  <!-- popular product card area end -->
</div>