<div class="main-container">
    <div class="subscripion-area">
        <div class="container">
            <div class="row">
                <div class="first">
                    <div class="flexDiv">
                        <!-- <div class="d-flex align-items-center gap-3"> -->
                        <span><i class="bi bi-envelope-open"></i></span>
                        <div>
                            <h4>Newsletter</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae, blanditiis.</p>
                        </div>
                    </div>
                </div>
                <div class="second">
                    <form action="" class="form">
                        <input class="form-control" type="email" placeholder="Enter Your Email Address">
                        <button class="btn btn-secondary" type="submit">Subscribe Now</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>