<div class="container">
  <div class="product-details">
    <div class="product-details-container">
      <div class="left-area">
        <div class="product-img">
          <a class="pd-photo" href="assets/images/product/vegetable.png">
            <img src="assets/images/product/vegetable.png" alt="product-img" />
          </a>
        </div>
        <div class="sliding-section" id="product-quickView-mini">
          <div class="sliding-img">
            <div class="img-box">
              <a
                class="product-quickView"
                href="assets/images/shopping-cart/1.png"
              >
                <img
                  src="assets/images/shopping-cart/1.png"
                  class="img-fluid"
                  alt=""
                />
              </a>
            </div>
          </div>
          <div class="sliding-img">
            <div class="img-box">
              <a
                class="product-quickView"
                href="assets/images/shopping-cart/2.png"
              >
                <img
                  src="assets/images/shopping-cart/2.png"
                  class="img-fluid"
                  alt=""
                />
              </a>
            </div>
          </div>
          <div class="sliding-img">
            <div class="img-box">
              <a
                class="product-quickView"
                href="assets/images/shopping-cart/2.png"
              >
                <img
                  src="assets/images/shopping-cart/2.png"
                  class="img-fluid"
                  alt=""
                />
              </a>
            </div>
          </div>
          <div class="sliding-img">
            <div class="img-box">
              <a
                class="product-quickView"
                href="assets/images/shopping-cart/1.png"
              >
                <img
                  src="assets/images/shopping-cart/1.png"
                  class="img-fluid"
                  alt=""
                />
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="right-area">
        <div class="rating-area">
          <div class="rating">
            <span><i class="bi bi-star-fill"></i></span>
            <span><i class="bi bi-star-fill"></i></span>
            <span><i class="bi bi-star-fill"></i></span>
            <span><i class="bi bi-star-fill"></i></span>
            <span><i class="bi bi-star-half"></i></span>
          </div>
          <div class="review-area">
            <span style="font-size: var(--size-sm); color: var(--primary-color)"
              >( 20 reviews )</span
            >
          </div>
        </div>
        <div class="product-name">
          <a>Fresh Vegetable</a>
        </div>
        <p class="details">
          Lorem ipsum dolor, sit, amet consectetur adipisicing elit. Laudantium
          quidem optio iusto qui voluptates dicta, rerum nemo magnam odit,
          neque, temporibus commodi accusamus. Dicta laboriosam quibusdam velit
          quod temporibus ad quisquam vel, porro laborum, aspernatur dignissimos
          qui debitis at, dolore!
        </p>
        <div class="pricing">
          <span>$200</span>
          <del>$210</del>
        </div>
        <div class="catgories">
          <span>Categories :</span>
          <a href="#">Cover</a>
          <a href="#">Seat</a>
          <a href="#">Car</a>
          <a href="#">Pass</a>
        </div>
        <div class="color d-flex pt-20">
          <div>
            <span>Color :</span>
          </div>
          <div class="ml-10">
            <a href="#" class="red active"></a>
            <a href="#" class="blue"></a>
            <a href="#" class="yelllow"></a>
            <a href="#" class="green"></a>
            <a href="#" class="orange"></a>
          </div>
        </div>
        <div class="size pt-15">
          <span class="text-uppercase fw-bold">Size :</span>
          <a href="#">Small</a>
          <a href="#">Medium</a>
          <a href="#">Large</a>
          <a href="#">Extra Large</a>
        </div>
        <div class="add-to-cart-area pt-20">
          <div class="d-flex gap-4">
            <div class="quantity-container d-flex">
              <button class="quantity-button" id="decrease-btn">
                <i class="bi bi-dash"></i>
              </button>
              <input type="text" id="quantity-input" value="1" min="1" />
              <button class="quantity-button" id="increase-btn">
                <i class="bi bi-plus"></i>
              </button>
            </div>
            <div>
              <button type="submit" class="add-to-cart-btn">
                <i class="bi bi-cart-fill"></i> Add to Cart
              </button>
            </div>
          </div>
        </div>
        <div class="quick-social-share pt-25">
          <span class="fw-bold">Share :</span>
          <a href="#"><i class="bi bi-facebook"></i></a>
          <a href="#"><i class="bi bi-twitter"></i></a>
          <a href="#"><i class="bi bi-pinterest"></i></a>
          <a href="#"><i class="bi bi-instagram"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>
