<div class="container">
  <div class="product-details-container">
    <div class="product-details">
      <div class="left-area">
        <div class="product-img">
          <a class="pd-photo" href="assets/images/product/vegetable.png">
            <img src="assets/images/product/vegetable.png" alt="product-img" />
          </a>
        </div>
        <div class="sliding-section">
          <p-carousel [value]="images" [circular]="true" [numVisible]="4" [autoplayInterval]="3000">
            <ng-template let-images pTemplate="item">
              <div class="img-box">
                <img [src]="images.src" [alt]="images.alt">
              </div>
            </ng-template>
          </p-carousel>
        </div>
      </div>
      <div class="right-area">
        <div class="rating-area">
          <div class="rating">
            <span><i class="bi bi-star-fill"></i></span>
            <span><i class="bi bi-star-fill"></i></span>
            <span><i class="bi bi-star-fill"></i></span>
            <span><i class="bi bi-star-fill"></i></span>
            <span><i class="bi bi-star-half"></i></span>
          </div>
          <div class="review-area">
            <span>( 20 reviews )</span>
          </div>
        </div>
        <div class="product-name">
          <a>Fresh Vegetable</a>
        </div>
        <p class="details">
          Lorem ipsum dolor, sit, amet consectetur adipisicing elit. Laudantium
          quidem optio iusto qui voluptates dicta, rerum nemo magnam odit,
          neque, temporibus commodi accusamus. Dicta laboriosam quibusdam velit
          quod temporibus ad quisquam vel, porro laborum, aspernatur dignissimos
          qui debitis at, dolore!
        </p>
        <div class="pricing">
          <span>$200</span>
          <del>$210</del>
        </div>
        <div class="categories">
          <span>Categories: </span>
          <a>Cover</a>
          <a>Seat</a>
          <a>Car</a>
          <a>Pass</a>
        </div>
        <div class="color">
          <div>
            <span>Color: </span>
          </div>
          <div class="colors">
            <a class="red"></a>
            <a class="blue"></a>
            <a class="yelllow"></a>
            <a class="green"></a>
            <a class="orange"></a>
          </div>
        </div>
        <div class="size">
          <span>Size: </span>
          <a href="#">Small</a>
          <a href="#">Medium</a>
          <a href="#">Large</a>
          <a href="#">Extra Large</a>
        </div>
        <div class="add-to-cart-area">
          <div class="add-to-cart">
            <div class="quantity-container">
              <button class="quantity-button">
                <i class="bi bi-dash"></i>
              </button>
              <input type="text" id="quantity-input" value="1" min="1" />
              <button class="quantity-button">
                <i class="bi bi-plus"></i>
              </button>
            </div>
            <div class="add-to-cart-btn-container">
              <button type="submit" class="add-to-cart-btn">
                <i class="bi bi-cart-fill"></i> Add to Cart
              </button>
            </div>
          </div>
        </div>
        <div class="quick-social-share">
          <span class="fw-bold">Share: </span>
          <a href="#"><i class="bi bi-facebook"></i></a>
          <a href="#"><i class="bi bi-twitter"></i></a>
          <a href="#"><i class="bi bi-pinterest"></i></a>
          <a href="#"><i class="bi bi-instagram"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>