<!-- <div class="col-lg-7 col-md-6 col-sm-12"> -->
<div class="coupon-code-area">
    <h5>Use Cupon Code</h5>
    <form action="">
        <div class="main-area">
            <label for="coupon-code" class="form-label">Have a Cupon Code?</label>
            <input type="text" class="form-control" id="coupon-code" placeholder="Enter here...">
        </div>
        <div class="btn-area">
            <button type="submit" class="my-btn">Apply</button>
        </div>
    </form>
</div>
<!-- </div> -->