.desktop-navigation {
    padding: 2rem 3rem;
    background: white;
}

li {
    list-style: none;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: black;
    font-weight: 600;
}

nav {
    display: flex;
    justify-content: space-between;
    // border: 1px solid blue;

    .logo_menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-width: 600px;
        // background: red;

        .menu-list {
            display: flex;

            li {
                padding: 0 1rem;
            }
        }


    }

    .icons-container {
        display: flex;
        // background: green;

        .icons-list {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 1rem;
            // border: 1px solid red;

            li {
                padding: 0.625rem;
                box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
                position: relative;
                
                &:hover {
                    background: rgb(92, 140, 19);
                    transition: 0.6s ease-in-out;

                    i {
                        color: white;
                    }
                }
            }

            .hamburger {
                display: none;
            }

            .icon-value {
                position: absolute;
                top: -10px;
                right: -10px;
                color: white;
                background: rgb(92, 140, 19);
                padding: 2px 7px;
                border-radius: 25px;
            }

        }
    }
}







// Hamburger Sidebar start
.mobile-sideNav {
    margin-top: 20px;

    ul {
        li {
            padding: 10px 0;
            margin: 5px 0;
            border-bottom: 1px solid lightgray;
            font-weight: 600;
            color: black;
        }

        li.dropdown:after {
            content: '+';
            float: right;
            color: var(--secondary-color);
            font-size: var(--size-md);
            padding: 0px 7px;
            border: 1px solid #F1F1F1;
            border-radius: 50%;
        }
    }
}

// Hamburger Sidebar start end









//   Search Sidebar start

.offcanvas-body {

    form {
        margin-top: 10px;
        // border: 1px solid red;
        display: flex;
        justify-content: space-between;

        input {
            // border: 1px solid blue;
            padding: 10px 15px;
        }

        button {
            padding: 10px 15px;
            background: var(--primary-color);
            border: none;
            outline: none;
            cursor: pointer;
            margin-right: 100%;
        }
    }

    h6 {
        margin-top: 15px;
        margin-bottom: 5px;
        font-size: 18px;
    }

    .search-tag {
        display: flex;
        flex-wrap: wrap;
        gap: 5px;

        a {
            font-weight: 400;
            color: var(--secondary-color);
            font-size: var(--size-md);
            background-color: #E0E4E0;
            padding: 2px 12px;
            margin-top: 10px;
            border: 1px solid #E0E4E0;
        }
    }
}


// Search Sidebar end 











// responsiveNess 
@media screen and (max-width: 990px) {
    nav {

        .logo_menu {
            display: none;
            background: red;
        }

        .icons-container {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            .icons-list {
                .hamburger {
                    display: block;
                }
            }
        }
    }
}