<!--  navigation start -->
<div class="desktop-navigation">
  <nav>
    <!-- logo_menu start -->
    <div class="logo_menu">

      <a [routerLink]="['']"><img src="../../../../../assets/images/logo.png" alt=""></a>
      <ul class="menu-list">

        <li [routerLink]="['']"><a>Home</a></li>
        <li><a href="">Page</a> <span class="icon">
            <i class="bi bi-plus"></i>
          </span></li>
        <li><a href="">Shop</a> <span class="icon">
            <i class="bi bi-plus"></i>
          </span></li>
        <li><a href="">Blog</a> <span class="icon">
            <i class="bi bi-plus"></i>
          </span></li>
        <li [routerLink]="['/contact']"><a>Contact Us</a></li>

      </ul>
    </div>
    <!-- logo_menu end -->


    <!-- icons container start  -->
    <div class="icons-container">
      <ul class="icons-list">
        <li class="hamburger"><i class="bi bi-list"></i></li>
        <li [routerLink]="['/cart']"><a><i class="bi bi-cart3"></i><span class="icon-value">9</span></a></li>
        <li [routerLink]="['/wishlist']"><a><i class="bi bi-heart"></i><span class="icon-value">3</span></a></li>
        <li><i class="bi bi-search"></i></li>
        <li [routerLink]="['/auth/login']"><a><i class="bi bi-person"></i></a></li>
      </ul>
    </div>
    <!-- icons container start  -->

  </nav>
</div>
<!--  navigation end -->