<p>header-top works!</p>
<!-- header-top start  -->

<div class="header-top">

    <div class="header-box">
      <!-- info box start  -->
      <div class="info-box">
        <div class="info-items">
          <div class="mail">
            <a href="mailto:info12@example.com">
              <span><i class="bi bi-envelope"></i> </span>
              <span class="ml-05">info12@example.com</span>
            </a>
          </div>
          <div class="location">
            <a href="#">
              <span><i class="bi bi-geo-alt"></i></span>
              <span class="">California, TX 70240</span>
            </a>
          </div>
        </div>
      </div>
      <!-- info box end  -->
      <!-- socials box start  -->
      <div class="socials-box">
        <div class="facebook">
          <a href="#" target="_blank">
            <span><i class="fa-brands fa-facebook-f"></i></span>
          </a>
        </div>
        <div class="twitter">
          <a href="#" target="_blank">
            <span><i class="fa-brands fa-twitter"></i></span>
          </a>
        </div>
        <div class="linkedin">
          <a href="#" target="_blank">
            <span><i class="fa-brands fa-linkedin-in"></i></span>
          </a>
        </div>
        <div class="youtube">
          <a href="#" target="_blank">
            <span><i class="fa-brands fa-youtube"></i></span>
          </a>
        </div>
        <div class="language">
          <div>
            <span class="text">English</span>
            <span class="icon">
              <i class="bi bi-arrow-down"></i>
            </span>
          </div>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Arabic</a></li>
            <li><a class="dropdown-item" href="#">French</a></li>
            <li><a class="dropdown-item" href="#">Hindi</a></li>
            <li><a class="dropdown-item" href="#">Chinese</a></li>
            <li><a class="dropdown-item" href="#">Bengali</a></li>
          </ul>
        </div>
        <!-- socials box end  -->
      </div>
    </div>
  
  </div>
  
  
  <!-- header-top end  -->