.breadcumb-section {
  width: 100%;
  height: 250px;
  border: none;
  background-image: url("../../../../assets/images/bcb.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  .overlay {
    position: absolute;
    border: none;
    width: 100%;
    height: 100%;
    background-color: var(--secondary-color);
    opacity: 0.8;
  }

  .breadcumb-text {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    h3 {
      font-size: var(--size-xl);
      color: var(--color-white);
    }

    .nav-area {
      margin-top: 15px;

      a {
        text-decoration: underline;
        font-size: var(--size-md);
        font-weight: var(--text-normal);
        color: var(--primary-color);
        font-weight: var(--text-bold);
      }

      span {
        font-size: var(--size-md);
        font-weight: var(--text-normal);
        color: var(--color-white);

        i {
          margin: 0 8px;
          color: var(--primary-color);
        }
      }
    }
  }
}
