<footer>
  <div class="main-footer">
    <div class="container">
      <!-- single box end  -->
      <div class="main-footer-box">
        <!-- Single -->
        <div class="single">
          <div class="footer-widgets-single">
            <h4>Our Address</h4>
            <div class="office-address">
              <div class="d-flex">
                <i class="bi bi-geo-alt-fill"></i>
                <span>Collins Street West Victoria 8007 Australia</span>
              </div>
              <div class="d-flex">
                <i class="bi bi-telephone-fill"></i>
                <span>+61 3 123456</span>
              </div>
              <div class="d-flex">
                <i class="bi bi-envelope"></i>
                <span>example123@gmail.com</span>
              </div>
            </div>
            <div class="footer-social">
              <span
                ><a href="#" class="facebook"><i class="bi bi-facebook"></i></a
              ></span>
              <span
                ><a href="#" class="twitter"><i class="bi bi-twitter"></i></a
              ></span>
              <span
                ><a href="#" class="instagram"
                  ><i class="bi bi-instagram"></i></a
              ></span>
              <span
                ><a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a
              ></span>
            </div>
          </div>
        </div>
        <!-- Single -->
        <div class="single">
          <div class="footer-widgets-single">
            <h4>Information</h4>
            <ul class="footer-menu">
              <li><a href="#">About Us</a></li>
              <li><a href="#">Contact Us</a></li>
              <li><a href="#">Privacy</a></li>
              <li><a href="#">Frequently Question</a></li>
              <li><a href="#">Customer Service</a></li>
            </ul>
          </div>
        </div>
        <!-- Single -->
        <div class="single">
          <div class="footer-widgets-single">
            <h4>My Account</h4>
            <ul class="footer-menu">
              <li><a href="#">My Account</a></li>
              <li><a href="#">Login Page</a></li>
              <li><a href="#">Privacy</a></li>
              <li><a href="#">Shopping Cart</a></li>
              <li><a href="#">Register Account</a></li>
              <li><a href="#">Logut</a></li>
            </ul>
          </div>
        </div>
        <!-- Single -->
        <div class="single">
          <div class="footer-widgets-single">
            <h4>Need Help?</h4>
            <ul class="footer-menu">
              <li><a href="#">Help Center</a></li>
              <li><a href="#">Author Terms</a></li>
              <li><a href="#">Fodo Market Terms</a></li>
              <li><a href="#">Shopping Cart</a></li>
              <li><a href="#">Fodo Licenses</a></li>
              <li><a href="#">Contact Us</a></li>
            </ul>
          </div>
        </div>
      </div>
      <!-- single box end  -->
      <div class="footer-middle">
        <div class="footer-middle-box">
          <div class="food-vegetable">
            <div>
              <h5 class="d-inline">Food & Vegetables:</h5>
              <span><a href="#">Carrots</a></span>
              <span><a href="#">Cauliflower</a></span>
              <span><a href="#">Chives</a></span>
              <span><a href="#">Potato</a></span>
              <span><a href="#">Cauliflower</a></span>
              <span><a href="#">Chives</a></span>
              <span><a href="#">Potato</a></span>
              <span><a href="#">Cauliflower</a></span>
            </div>
          </div>
          <div class="health-beauty">
            <div>
              <h5 class="d-inline">Health & Beauty:</h5>
              <span><a href="#">Skin Care</a></span>
              <span><a href="#">Make Up</a></span>
              <span><a href="#">Hair Care</a></span>
              <span><a href="#">Lipstick</a></span>
              <span><a href="#">Perfume</a></span>
              <span><a href="#">Hair Care</a></span>
              <span><a href="#">Lipstick</a></span>
              <span><a href="#">Perfume</a></span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      <div class="">
        <div class="footer-box">
          <div class="">
            <div class="payment-way">
              <img src="assets/images/payment.png" alt="" />
            </div>
          </div>
          <div class="">
            <div class="copyright">
              <p>
                Copyright &copy; <a href="#">E-commerce</a> <span>| </span> All
                rights Reserved.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>