<table class="table">
    <thead>
        <tr>
            <th>Image</th>
            <th>Product Name</th>
            <th>Unit Price</th>
            <th>Quantity</th>
            <th>Subtotal</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="product-thumbnail">
                <a href="#">
                    <img src="assets/images/shopping-cart/6.png" alt="product_img">
                </a>
            </td>
            <td class="product-name">Product Name</td>
            <td class="price">$200.00</td>
            <td>
                <span class="quantity-area">
                    <span class="quantity-container">
                        <button class="quantity-button"><i class="bi bi-dash"></i></button>
                        <input type="text" id="quantity-input" value="1" min="1">
                        <button class="quantity-button"><i class="bi bi-plus"></i></button>
                    </span>
                </span>
            </td>
            <td>$200.00</td>
            <td>
                <button class="delete-btn"><i class="bi bi-trash3-fill"></i></button>
            </td>
        </tr>
        <tr>
            <td class="product-thumbnail">
                <a href="#">
                    <img src="assets/images/shopping-cart/2.png" alt="product_img">
                </a>
            </td>
            <td class="product-name">Product Name</td>
            <td class="price">$200.00</td>
            <td>
                <span class="quantity-area">
                    <span class="quantity-container">
                        <button class="quantity-button"><i class="bi bi-dash"></i></button>
                        <input type="text" id="quantity-input" value="1" min="1">
                        <button class="quantity-button"><i class="bi bi-plus"></i></button>
                    </span>
                </span>
            </td>
            <td>$200.00</td>
            <td>
                <button class="delete-btn"><i class="bi bi-trash3-fill"></i></button>
            </td>
        </tr>
        <tr>
            <td class="product-thumbnail">
                <a href="#">
                    <img src="assets/images/shopping-cart/1.png" alt="product_img">
                </a>
            </td>
            <td class="product-name">Product Name</td>
            <td class="price">$200.00</td>
            <td>
                <span class="quantity-area">
                    <span class="quantity-container">
                        <button class="quantity-button"><i class="bi bi-dash"></i></button>
                        <input type="text" id="quantity-input" value="1" min="1">
                        <button class="quantity-button"><i class="bi bi-plus"></i></button>
                    </span>
                </span>
            </td>
            <td>$200.00</td>
            <td>
                <button class="delete-btn"><i class="bi bi-trash3-fill"></i></button>
            </td>
        </tr>
    </tbody>
</table>
<div class="table-middle-area">
    <a href="#" class="my-btn">Continue Shopping</a>
    <a href="#" class="my-btn">Update Cart</a>
</div>