<!-- shipping-area start  -->
<app-shipping-area></app-shipping-area>
<!-- shipping-area end  -->

<!-- mini-banner-area start -->
<app-mini-banner-area></app-mini-banner-area>
<!-- mini-banner-area end -->

<!-- popular product card area start -->
<div class="card-heading-area-container">
  <div class="card-area-title">
    <h3>Popular Products</h3>
  </div>
  <div class="view-all-button-container">
    <a href="#" class="view-all-btn">
      View All
      <span>
        <i class="bi bi-arrow-right"></i>
      </span>
    </a>
  </div>
</div>
<app-product-card></app-product-card>
<!-- popular product card area end -->

<!-- big-banner-area start -->
<app-big-banner-area></app-big-banner-area>
<!-- big-banner-area end -->

<!-- best Seller, top rated, hot deals area start -->
<div class="bars-ad-container">
  <div class="bars-ad-main">
    <app-product-bar></app-product-bar>
    <app-product-bar></app-product-bar>
    <app-product-bar></app-product-bar>
    <app-ad-area></app-ad-area>
  </div>
</div>
<!-- best Seller, top rated, hot deals area end -->

<!-- featured product card area start -->
<div class="card-heading-area-container">
  <div class="card-area-title">
    <h3>Featured Products</h3>
  </div>
  <div class="view-all-button-container">
    <a href="#" class="view-all-btn">
      View All
      <span>
        <i class="bi bi-arrow-right"></i>
      </span>
    </a>
  </div>
</div>
<app-product-card></app-product-card>
<!-- featured product card area end -->

<!-- make-call-area start -->
<app-make-call-area></app-make-call-area>
<!-- make-call-area end -->

<!-- blog-area start -->
<app-blog-area></app-blog-area>
<!-- blog-area end -->

<!-- newsletter start -->
<app-newsletter></app-newsletter>
<!-- newsletter end -->