<div>
    <!-- shipping-area start  -->
    <shipping-area></shipping-area>
    <!-- shipping-area end  -->

    <!-- mini-banner-area start -->
    <mini-banner-area></mini-banner-area>
    <!-- mini-banner-area end -->

    <!-- popular product card area start -->
    <section>
        <div class="heading">
            <div class="title">
                <h3>Popular Products</h3>
            </div>
            <div class="view-section">
                <a href="#" class="view-all-btn">View All
                    <span><i class="bi bi-arrow-right"></i></span></a>
            </div>
        </div>
        <product-card></product-card>
    </section>
    <!-- popular product card area end -->

    <!-- big-banner-area start -->
    <big-banner-area></big-banner-area>
    <!-- big-banner-area end -->

    <!-- best Seller, top rated, hot deals area start -->
    <div class="container">
        <div class="main-area">
            <product-bar></product-bar>
            <product-bar></product-bar>
            <product-bar></product-bar>
            <ad-area></ad-area>
        </div>
    </div>
    <!-- best Seller, top rated, hot deals area end -->

    <!-- featured product card area start -->
    <section>
        <div class="heading">
            <div class="title">
                <h3>Featured Products</h3>
            </div>
            <div class="view-section">
                <a href="#" class="view-all-btn">View All
                    <span><i class="bi bi-arrow-right"></i></span></a>
            </div>
        </div>
        <product-card></product-card>
    </section>
    <!-- featured product card area end -->

    <!-- make-call-area start -->
    <make-call-area></make-call-area>
    <!-- make-call-area end -->
</div>