<div class="product-bar">
    <h5>Hot Deals</h5>
    <!-- Single -->
    <div class="product-item">
        <div class="product-thumbnail">
            <a href="product-details.html">
                <img src="assets/images/product/1.png" alt="img">
            </a>
        </div>
        <div class="content">
            <a href="product-details.html">Fresh Red Seedless</a>
            <div class="rating">
                <span><i class="fas fa-star"></i></span>
                <span><i class="fas fa-star"></i></span>
                <span><i class="fas fa-star"></i></span>
                <span><i class="fas fa-star"></i></span>
                <span><i class="fas fa-star"></i></span>
            </div>
            <div class="pricing">
                <span>$200 <del>$210</del></span>
            </div>
        </div>
    </div>
    <!-- Single -->
    <div class="d-flex gap-3 product-item">
        <div class="product-thumbnail">
            <a href="product-details.html">
                <img src="assets/images/product/2.png" alt="img">
            </a>
        </div>
        <div class="content">
            <a href="product-details.html">Fresh Red Seedless</a>
            <div class="rating">
                <span><i class="fas fa-star"></i></span>
                <span><i class="fas fa-star"></i></span>
                <span><i class="fas fa-star"></i></span>
                <span><i class="fas fa-star"></i></span>
                <span><i class="fas fa-star"></i></span>
            </div>
            <div class="pricing">
                <span>$200 <del>$210</del></span>
            </div>
        </div>
    </div>
    <!-- Single -->
    <div class="d-flex gap-3 product-item">
        <div class="product-thumbnail">
            <a href="product-details.html">
                <img src="assets/images/product/5.png" alt="img">
            </a>
        </div>
        <div class="content">
            <a href="product-details.html">Fresh Red Seedless</a>
            <div class="rating">
                <span><i class="fas fa-star"></i></span>
                <span><i class="fas fa-star"></i></span>
                <span><i class="fas fa-star"></i></span>
                <span><i class="fas fa-star"></i></span>
                <span><i class="fas fa-star"></i></span>
            </div>
            <div class="pricing">
                <span>$200 <del>$210</del></span>
            </div>
        </div>
    </div>
    <!-- Single -->
    <div class="d-flex gap-3 product-item">
        <div class="product-thumbnail">
            <a href="product-details.html">
                <img src="assets/images/product/6.png" alt="img">
            </a>
        </div>
        <div class="content">
            <a href="product-details.html">Fresh Red Seedless</a>
            <div class="rating">
                <span><i class="fas fa-star"></i></span>
                <span><i class="fas fa-star"></i></span>
                <span><i class="fas fa-star"></i></span>
                <span><i class="fas fa-star"></i></span>
                <span><i class="fas fa-star"></i></span>
            </div>
            <div class="pricing">
                <span>$200 <del>$210</del></span>
            </div>
        </div>
    </div>
</div>