<div class="checkout-form">
    <h5>Order Total</h5>
    <ul>
        <li class="sub-area">
            <h6>Sub Total:</h6>
            <span>$201.00</span>
        </li>
        <li class="tax-area">
            <h6>Taxes:</h6>
            <span>$201.00</span>
        </li>
        <li class="hr-area">
            <hr>
        </li>
        <li class="grand-area">
            <h6>Grand Total:</h6>
            <span>$201.00</span>
        </li>
    </ul>
    <div class="btn-area">
        <a href="checkout.html" class="d-block my-btn">Proceed to Checkout</a>
    </div>
</div>