<!-- =========== Shipping Area Start =========== -->
<div class="container">
    <div class="free-shipping-area">
        <div class="shipping-area-main">
            <div class="shipping-item">
                <div class="icon">
                    <i class="bi bi-truck"></i>
                </div>
                <div class="content">
                    <h6>Free Shipping</h6>
                    <p>Free UK shipping when you spend £30.</p>
                </div>
            </div>
            <div class="shipping-item">
                <div class="icon">
                    <i class="fab fa-pagelines"></i>
                </div>
                <div class="content">
                    <h6>Get Fresh Products</h6>
                    <p>Find a range of best online organic food.</p>
                </div>
            </div>
            <div class="shipping-item">
                <div class="icon">
                    <i class="fas fa-dollar-sign"></i>
                </div>
                <div class="content">
                    <h6>Moneyback Offer</h6>
                    <p>Free UK shipping when you spend £30.</p>
                </div>
            </div>
            <div class="shipping-item">
                <div class="icon">
                    <i class="bi bi-shield-lock"></i>
                </div>
                <div class="content">
                    <h6>Safe Payment</h6>
                    <p>We are using secure payment methods..</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- =========== Shipping Area End =========== -->