<div class="container">
    <div class="big-banner-area">
        <div class="big-banner">
            <div class="overlay"></div>
            <div class="banner-content">
                <h5>Summer Sell</h5>
                <h3>29% Off</h3>
                <h6>Free on all your order, Free Shipping and 20 days money <br> back guarantee</h6>
                <button type="button" class="my-btn">Shop Now <i class="fa-solid fa-arrow-right"></i></button>
            </div>
        </div>
    </div>
</div>