.container {
    padding-top: 40px;
    padding-bottom: 40px;
    max-width: 1320px;
    margin: auto;
    // border: 2px solid blue;


    @media only screen and (max-width: 1400px) {
        max-width: 1140px;
    }

    @media only screen and (max-width: 1200px) {
        max-width: 960px;
    }

    @media only screen and (max-width: 992px) {
        max-width: 720px;
    }

    @media only screen and (max-width: 768px) {
        max-width: 540px;
    }
}

.big-banner-area {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
}

.big-banner {
    width: 100%;
    height: 330px;
    background-image: url('../../../../assets/images/banner-slider/slider-4.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: none;
    border-radius: 12px;
    position: relative;
    display: flex;
    justify-content: end;
    align-items: center;
}

.big-banner .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: var(--secondary-color);
    border-radius: 12px;
    opacity: .3;
}

.big-banner .banner-content {
    position: absolute;
    padding: 0px 20px;
}

.big-banner .banner-content h5 {
    color: var(--color-white);
    font-size: var(--size-lg);
    font-weight: var(--text-bold);
    text-transform: uppercase;
    padding: 10px 0px;
    
    margin-block-start: 0px;
    margin-block-end: 0px;
}

.big-banner .banner-content h3 {
    color: var(--color-white);
    font-size: var(--size-xxl);
    font-weight: var(--text-bold);
    text-transform: uppercase;
    padding: 0px 0px 10px 0px;

    
    margin-block-start: 0px;
    margin-block-end: 0px;
}

.big-banner .banner-content h6 {
    color: var(--color-white);
    font-size: var(--size-md);
    padding: 0px 0px 15px 0px;
}

// margin-block-start && margin-block-end problem
h3, h5, h6 {
    margin-block-start: 0px;
    margin-block-end: 0px;
}


.my-btn {
    border: 1px solid var(--color-99);
    border-radius: 25px !important;
    font-size: var(--size-sm);
    font-weight: var(--text-normal);
    color: var(--color-white);
    color: white;
    background-color: var(--color-99);
    padding: 12px 30px;
    text-transform: uppercase;
}

.my-btn:hover {
    opacity: .8;
}