<div class="checkout-container">
    <div class="checkout-summary">
        <h4>Checkout Summary</h4>
        <ul class="checkout-items">
            <li class="checkout-item">
                <span>Subtotal:</span>
                <span>$230.01</span>
            </li>
            <li class="checkout-item">
                <span>Shipping:</span>
                <span>$130.01</span>
            </li>
            <li class="checkout-item">
                <span>Cupon:</span>
                <span>$230.01</span>
            </li>
            <li class="checkout-item">
                <span>Total:</span>
                <span>$230.01</span>
            </li>
            <li class="checkout-item payable-total">
                <h6>Payable Total:</h6>
                <h6>$230.01</h6>
            </li>
        </ul>
    </div>
</div>