<div class="container">
    <div class="banner-area">
        <div class="row">
            <div class="single-banner">
                <div class="banner-box">
                    <a href="#">
                        <img src="../../../../assets/images/banner/b-1.jpg" alt="banner-1">
                    </a>
                </div>
            </div>
            <div class="single-banner">
                <div class="banner-box">
                    <a href="#"><img src="assets/images/banner/b-2.jpg" alt="banner-2"></a>
                </div>
            </div>
        </div>
    </div>
</div>