.checkout-area {
  padding: 40px 20px;

  .checkout-main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 18px;
    max-width: 1320px;
    margin: auto;

    @media only screen and (max-width: 1400px) {
      max-width: 1140px;
    }

    @media only screen and (max-width: 1200px) {
      max-width: 960px;
    }

    @media only screen and (max-width: 992px) {
      max-width: 720px;
      grid-template-columns: repeat(1, 1fr);
    }

    @media only screen and (max-width: 768px) {
      max-width: 540px;
    }
  }
}
