<!-- Breadcumb Area Start -->
<app-checkout-breadcrumb-area></app-checkout-breadcrumb-area>
<!-- Breadcumb Area End -->

<div class="checkout-area">
    <div class="checkout-main">
        <app-billing-info-area></app-billing-info-area>
        <div class="right-side-forms">
            <app-checkout-summary-area></app-checkout-summary-area>
            <app-payment-method-area></app-payment-method-area>
        </div>
    </div>
</div>

<!-- Newsletter area start -->
<app-newsletter></app-newsletter>
<!-- Newsletter area end -->